* {
    margin: 0;
    padding: 0;
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    background-color:rgb(20, 21, 21);
}
.container{
    background-color:  rgb(41, 41, 35);
    padding: 2rem 2rem 7rem 2rem;
    border-radius: 4%;
    
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0rem 2rem 0rem 2rem;
    color: white;
}
.div0{
    color: white;
    display: flex;
    justify-content:space-between;
}
h3{
    display: inline-block;
}

input{
    height: 2rem; 
    width: 7rem;
}
.div1{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1 i{
    color: white;
    font-size:x-large;
    
}
.div2 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.div21 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid lightgray; */
    border-radius: 5%;
    
}
.div22 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid lightgray; */
    border-radius: 5%;
}
.div3 {
     display: flex;
     justify-content: center;
     align-items: center; 
     margin-top: 3rem;
}
.submit{
    background-color: rgb(211, 215, 212);
    border:1px solid black;
    
    box-shadow: 0px 2px 2px 0px;
    height: 2rem;
    width: 14rem;
    font-size: large;
}
.submit:hover{
    box-shadow: 0px 5px 3px  white;    
}
.submit:active{
    background-color:rgb(0, 0, 0);
    box-shadow: none;
}
img {
    height: 3rem;
}
.msg {
    margin-top: 3rem;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 1.3rem;
}